<div class="col-lg-3">
  <h5 class="my-4">
    Shop Top Holiday Deals!<br />
    Express Delivery In 2 Hrs! <br />Everyday Low Prices.<br />
    Weekly Flyers & Specials. Stocking Stuffers.<br />
  </h5>

  <li class="nav-item <%= path==='/admin/add-product' ? 'active' : ''%>">
    <a class="nav-link" href="/admin/add-product">Add Product</a>
  </li>
  <li class="nav-item <%= path==='/cart' ? 'active' : ''%>">
    <a class="nav-link" href="/cart">Cart</a>
  </li>
</div>
<!-- /.col-lg-3 -->
